<section class="card">
  <div class="card-body">
    <h1>About</h1>
    <p>
  SecureDocs será una aplicación que permita a las organizaciones gestionar de
manera segura sus documentos digitales. Los estudiantes se concentrarán en implementar
controles de seguridad de la ISO 27001 relacionados con el control de acceso.
    </p>
  </div>
</section>
