<div class="card card-body p-5 mt-4">
  <h1 class="display-4"> Auditoría de Sistemas</h1>
  <p class="lead">Una aplicación con CRUD, derechos para consulta y edición, además de controles
    de aplicación con criterios de seguridad
  </p>
  <hr class="my-4" />
  
  <div>
    <a
      class="btn btn-primary btn"
      href="/auth/logeo"
      role="button" 
    >REGISTER</a>

    <a
      class="btn btn-primary btn"
      href="/auth/signin"
      role="button" 
    >LOGIN</a>
  </div>
</div>